.home {
  width: 85%;
  height: 95vh;
  margin: 0.3rem auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
  background-color: var(--background_color);
  border-radius: 4px;
}

.home::before {
  position: absolute;
  content: "10 Happy Client";
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  top: 72.5%;
  left: 8.7%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white_color);
  font-weight: 500;
  text-align: center;
  background-color: var(--main_color);
  border: 10px solid var(--black_color);
  z-index: 1000;
}
.home::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 7rem;
  top: 90%;
  transform: skewY(-2deg);
  background-image: linear-gradient(
    to right,
    var(--hover_color),
    var(--main_color)
  );
}

.home .home_left {
  width: 45%;
  height: 95%;
  border-radius: 5px;
}

.home .home_right {
  width: 48%;
  height: 95%;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.home .home_right img {
  width: 90%;
  height: 100%;
  object-fit: contain;
}

.home .about {
  width: 90%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-evenly;
  position: relative;
}

.home .about .me {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}

.home .about .whom_i_am {
  display: flex;
  align-items: center;
  height: fit-content;
  overflow: hidden;
  position: absolute;
  top: 11%;
  left: 7%;
}

.home .about .me h1 {
  margin-top: -1.3rem;
}

.home .about .me b {
  font-size: 1.5rem;
  color: var(--hover_color);
  background-image: linear-gradient(
    to right,
    var(--black_color) 10%,
    var(--hover_color),
    var(--main_color) 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-top: -1.3rem;
}

.home .about .whom_i_am .static_text {
  margin-right: 1rem;
  font-weight: 800;
  font-size: 1.8rem;
  background-color: #ff8177;
  background-image: linear-gradient(
    to left,
    var(--black_color) 10%,
    var(--main_color) 40%,
    var(--black_color) 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 2rem;
}

.home .about .whom_i_am .dynamic_text {
  height: 2rem;
  overflow: hidden;
  line-height: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 0.2rem;
}

.home .about .whom_i_am .dynamic_text li {
  width: 100%;
  position: relative;
  top: 0;
  font-weight: 800;
  height: 3rem;
  font-size: 1.8rem;
  background-color: #ff8177;
  margin-bottom: 1rem;
  background-image: linear-gradient(
    to left,
    var(--black_color) 50%,
    var(--main_color) 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 2rem;
  list-style: none;
  animation: slide 9s steps(3) infinite;
}

@keyframes slide {
  100% {
    top: -113px;
  }
}

.home .about .whom_i_am .dynamic_text li::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--white_color);
  border-left: 2px solid var(--main_color);
  animation: typing 3s steps(12) infinite;
}

@keyframes typing {
  60% {
    left: calc(100% + 30px);
  }

  100% {
    left: 0;
  }
}

.home .about .capacity h5 {
  text-align: left;
  color: var(--black_color);
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  line-height: 1.7rem;
  margin-top: 2rem;
}

.home .about .my_work {
  width: 99%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-items: center;
}

.home .about .my_work ul {
  width: 70%;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: var(--white_color);
  margin: auto;
  box-shadow: var(--box_shadow);
  border-radius: 10px;
  padding: 1rem;
  line-height: 2rem;
}

.icon_container {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}

.icon_container p {
  font-weight: 680;
  font-size: 0.95rem;
}

.home .about .my_work ul .icons {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--main_color);
  margin-bottom: 0.7rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 1100px) {
  .home {
    width: 95%;
  }
  .home::before {
    z-index: 1000;
  }
}

@media screen and (max-width: 800px) {
  .home {
    width: 100%;
    height: fit-content;
    margin: 0;
  }

  .home::before {
    left: 47%;
    top: 90vh;
  }

  .home::after {
    top: 10vh;
    z-index: 1;
    width: 100%;
  }

  .home .home_left {
    padding: 0;
  }

  .home .home_right {
    padding-top: 7rem;
  }

  .home .about {
    width: 100%;
  }

  .home .about .my_work ul {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .home .about .capacity h5 {
    margin-top: 4rem;
  }

  .home .about .whom_i_am .static_text {
    font-size: 1.5rem;
  }

  .home {
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
  }

  .home::before {
    left: 40%;
    top: 100vh;
  }

  .home::after {
    top: 110vh;
  }

  .home .home_left {
    width: 100%;
    padding-left: 1.3rem;
  }

  .home .about .whom_i_am {
    left: 0%;
  }

  .home .home_right {
    width: 100%;
    padding-left: 1.3rem;
  }

  .home .about .whom_i_am h2 {
    font-size: 1.6rem;
  }

  .home .about .my_work ul {
    width: 85%;
    margin: auto;
  }
}
